.four-square-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 10px;
  }
  
  .square {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ddd;
    border: 2px solid #ccc;
    border-radius: 4px;
    text-align: center;
    padding: 20px;
    width: 80%;
  }
  
  .square a {
    
    color: #333;
    text-decoration: none;
  }
  
  .square h2 {
    margin: 0;
  }
  
  .square p {
    margin: 10px 0 0;
    font-size: 14px;
  }
  