.university-search {
    width: 80%;
    margin: 0 auto;
    text-align: center;
  }
  

  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #bdb8b8;
    opacity: 1; /* Firefox */
  }
  .search-box {
    width: 80%;
    font-size: 16px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    outline: none;
    transition: 0.3s;
    margin: 5px 20px 40px 20px;

  }
  
  .search-box:focus {
    border: 2px solid #555;
  }
  
  .university-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 7rem;
  }
  
  .university-table th,
  .university-table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  .university-table th {
    background-color: #6b6b6b;
    color: #ffffff;
  }
  
  .university-table tr:nth-child(even) {
    background-color: #d8d4d4;
  }
  
  .university-table tr:hover {
    background-color: #f5f5f5;
  }
  
  ul{
    display: flex;
    list-style-type: none;
    overflow: hidden;
    padding: 8px;
  }

  