
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


*{
  text-align: center;
  font-family: 'Poppins', sans-serif;

}
ul {

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(59, 59, 59);
  
}
main {
  margin-top: 70px; 
}

.anchor {
 
  margin: 0, auto;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  
}

.navlink {
  color: white;
  display: inline-block;
  text-decoration: none;

}
/* Change the link color to #111 (black) on hover */
.anchor:hover {
  background-color: rgb(158, 153, 153);
}
