
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inria+Serif&display=swap');


*{
  text-align: center;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;

}
.unordered-list {

  
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(192, 25, 25);
  
}
main {
  margin-top: 30px; 
}

.anchor {
 
  margin: 0, auto;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  
}
.anchor:hover {
  background-color: rgb(158, 153, 153);
}


.navlink {
  color: white;
  display: inline-block;
  text-decoration: none;

}

/* Change the link color to #111 (black) on hover */



.block_footer {
  background: rgb(255, 255, 255);
  padding: 20px 0;
  border-top: 4px solid white;
  color: white;
  margin: 0px;
}

footer {
  background-color: rgb(0, 0, 0);
  display: table;
  width: 100vw;
  height: 4rem;
  text-align: center;
  font-size: 1rem;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #ffffff;
  color: white;
  text-align: center;
  border-top: 2.5px solid #757575;
}


.wrapper {
  display: table-cell;
  vertical-align: middle;
}

footer small {
  color: rgb(130, 198, 238);
  letter-spacing: .025rem;
  margin-bottom: 1.5rem;
  display: block;
}

.footer-nav a {
  color: #757575;
  text-decoration: none;
  margin: 0 .5rem;
  display: inline-block;
}

.footer-nav a:hover {
  color: #94d4ff;
  transition: color .15s ease-in-out;
}




.nav-container{
  width: 100%;
 
}

.flex-container{
  width: 100%;

}

.logo-ul{
  
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0px 0px 25px 0px;
  overflow: hidden;
  background-color: #757575;
}

.logo-div {
 
  margin: 0, auto;
  color: white;
  text-align: center;
  padding-top: 1rem;
  text-decoration: none;
  
}


.logo {
  
  font-size: 80px;
  
  
}
.logo a {
  font-family: 'Inria Serif', serif;
  font-weight: 300;
  color: rgb(248, 248, 248);
}

.logo,
.navigation {
  list-style: none;
  
}


.logo a,
.navigation a {
  text-decoration: none;
}
